__pycache__/
.*/
!.cursor/
!.tools/
!.vscode/

build/
build*/
release/

runtime_generated/
slurm/
live_data/
logs/
output/
pos_logs/
st_ev/
strat_so/
tmp/
trade_logs/
data_test/
label_test/
diagnostic_tools/

libmatch_engine.so
draft.ipynb

*.err
*.log
*.out
